body {
    margin: 0;
    background: #0f0f1a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    text-align: center;
}

canvas {
    background: black;
    border: 2px solid #39ff14;
    margin-top: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}

button {
    padding: 10px 20px;
    background: #39ff14;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.hidden {
    display: none;
}
